pmd/src/main/resources/META-INF/xsd/pmd.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="pmd" type="pmdType"/>
  <xs:complexType name="violationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:short" name="beginline" use="optional"/>
        <xs:attribute type="xs:short" name="endline" use="optional"/>
        <xs:attribute type="xs:byte" name="begincolumn" use="optional"/>
        <xs:attribute type="xs:short" name="endcolumn" use="optional"/>
        <xs:attribute type="xs:string" name="rule" use="optional"/>
        <xs:attribute type="xs:string" name="ruleset" use="optional"/>
        <xs:attribute type="xs:string" name="package" use="optional"/>
        <xs:attribute type="xs:string" name="class" use="optional"/>
        <xs:attribute type="xs:string" name="method" use="optional"/>
        <xs:attribute type="xs:string" name="variable" use="optional"/>
        <xs:attribute type="xs:anyURI" name="externalInfoUrl" use="optional"/>
        <xs:attribute type="xs:byte" name="priority" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="fileType">
    <xs:sequence>
      <xs:element type="violationType" name="violation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="pmdType">
    <xs:sequence>
      <xs:element type="fileType" name="file" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:dateTime" name="timestamp"/>
  </xs:complexType>
</xs:schema>